*{
    margin: 0;
    padding: 0;
}
.dfjcac{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    height: 80px;
    width:100%;
    background-color:rgb(16, 16, 77);
    color: white;
}
.container-fluid{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calBody{
display: flex;
}
.lbtn Button{
   height: 300px;
   width: 30px;
}
.lbtn Button:hover{
    background-color: rgb(9, 146, 238);
}
Button:hover{
    background-color: aqua;
}
.clearOne Button{
    background-color: rgb(198, 120, 48);
    color: white;
}
.clearAll Button{
    background-color: red;
    color: white;
}
.cal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:60vw;
    border: 2px solid black;
    margin-top: 10px;background-color: navy;
    color: white;
    padding: 7px;
}
.calHeader{
    height: 25px;
    width: 90%;
    background: white !important;
    border: 2px solid white;
    color: black;
    font-size: x-large;
    padding: 5px;
}
.btnContainer{
    margin-top: 5px;
    display: flex;
    justify-content:space-around;
}
.btnContainer button{
    list-style: none;
    font-size: 1.5rem;
    font-weight: bold;
}
.btn{
    height: 10vh;
    width: 10vw;
    background-color: white;
    color: black;
    margin: 5px;
}
.row1{
    display: flex;
}